body {
        margin: 0%;
        padding: 0%;
}

.App {
        display: grid;
        width: 100vw;
        height: 100vh;
        background-color: white;
        color: blue;
        font-family: 'cursive',  sans-serif;
        place-items: center;
}

.chat-window {
        width: 500px;
        height: 600px;
}

.chat-window p {
      margin: 0;
}

.chat-window .chat_header {
          display: inline-block;
          border-radius: .5em;
          background: #263238;
          position: relative;
          cursor: pointer;
}
.chat-window .chat_header p {
          display: inline-block;
          padding: 0 1em 0 2em;
          color: #ffff;
          font-weight: 700;
          line-height: 50px;

}

.joinChat {
        display: flex;
        flex-direction: column;
        text-align: center;
}


.joinChat h3 {
        font-size: 100px;
        margin-bottom: 20px;
        background-image: linear-gradient(to left,violet,indigo,blue,green,yellow,orange,red); -webkit-background-clip:text;
        color: transparent;
}

.joinChat input {
        width: 400px;
        height: 40px;
        border: 2px initial #113C04;
        border-radius: 5em;
        padding: 25px;
        margin: 10px;
}
.joinChat input :focus {
        outline: none;
}


.joinChat button {
        width: 200px;
        height: 40px;
        

}

.joinChat button:hover {
        background-image: linear-gradient(to left,violet,indigo,blue,green,yellow,orange,red); -webkit-background-clip:text;
        color: transparent;
        border-radius: 5em;
        transition-duration: 3s;
}
