body {
        margin: 0%;
        padding: 0%;
}

.App {
        display: grid;
        width: 100vw;
        height: 100vh;
        background-color: white;
        color: blue;
        font-family: 'cursive',  sans-serif;
        place-items: center;
}

.chat-window {
        width: 500px;
        height: 600px;
}

.chat-window p {
      margin: 0;
}

.chat-window .chat_header {
          display: inline-block;
          border-radius: .5em;
          background: #263238;
          position: relative;
          cursor: pointer;
}
.chat-window .chat_header p {
          display: inline-block;
          padding: 0 1em 0 2em;
          color: #ffff;
          font-weight: 700;
          line-height: 50px;

}
